.threesome {
    background-color:green;
    float:left;
    width:31.914893617%;
    margin-right:2.12765957447%;
}
.twosome {
    background-color: blue;
    float:left;
    width:48.9361702128%;
    margin-right: 2.12765957447%;
}
.container {
    background-color: red;
    width:960px;
    max-width:90%;
    margin:auto;
    padding:10px;
    margin-bottom: 20px;
    overflow:hidden;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container > :last-child {
    margin-right:0;
}

@media (max-width:700px) {
    .threesome {
        float:none;
        width:100%;
        margin-bottom:2%;
    }
    .container > :last-child {
        margin-bottom:0;
    }
}

@media (max-width:500px){
    .twosome {
        float:none;
        width:100%;
        margin-bottom:2%;
    }
}